@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

.ring-color-red {
  @apply ring ring-red-500;
}

.transition-showSpanValidateKalkulatorBmi {
  @apply h-5 visible opacity-100 mt-2;
}
.transition-hideSpanValidateKalkulatorBmi {
  @apply h-0 invisible opacity-0 mt-0;
}

.transition-showHasilBmi {
  @apply h-full visible opacity-100;
}
.transition-hideHasilBmi {
  @apply h-0 invisible opacity-0;
}

@layer components {
  #jenis_pria:checked + label {
    color: #3b82f6;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  #jenis_wanita:checked + label {
    color: #3b82f6;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
}
